.about {
    background-color: #1abc9c;
    padding-top: 5rem;
    height: 50vh;
}
.about-content h1 {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.about-content p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 2rem;
    text-align: left;
    font-weight: 400;
}